.custom-alert {
    border-radius: 150px !important;
    width: 250px !important;
    height: 250px !important;
}
.custom-loading-icon {
    border: none !important;
}
.custom-loading-title {
    margin-top: -60px !important;
}
.custom-success-title,
.custom-warning-title,
.custom-failed-title {
    margin-top: -40px !important;
}
.custom-warning-title {
    color: orange !important;
    font-size: 22px !important;
}